.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  padding-left: 20%;
  padding-right: 20%;
  font-size: calc(10px + 2vmin);
  color: white;
}

select, button {
  margin: 10px;
}

.title {
  padding-top: 20vh;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.getQuoteButton:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 500px) {
  .title {
    padding-top: 5vh;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
